# Default ignored files
/shelf/
/workspace.xml
.idea/
*.iml
*.iws
*.properties
# Datasource local storage ignored files
/../../../../../../:\Users\user\IdeaProjects\options\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/src/main/resources/04_Apr/
